* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1a701;
    color: #1c1e26;
}

:root {
    --background-color: #d1a701;
    --dark-color: #1c1e26;
    --third-color: #fdeb37; 
    --fourth-color: #bdac9c;
    --fifth-color: #9d815b;
}

h1 {
    font-family: Pixelify Sans, sans-serif;
    font-weight: 10;
    text-align: center;
    padding-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid var(--dark-color);
    height: 70px;
}

.nav-left, .nav-right {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: Pixelify Sans, sans-serif;
}

.nav-left {
    font-size: 40px;
    line-height: 1;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

.typewriter h1 {
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
      typing 10s steps(40, end);
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.introduction {
    margin-right: 50px;
    margin-left: 50px;
}

#projects {
    display: grid;
    place-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    padding: 20px;
    justify-content: center;
}

.project-box {
    display: grid;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 5px var(--dark-color);
}

.project-box:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 5px var(--fifth-color);
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pixelart-to-css {
    box-shadow: 100px 120px 0 0 var(--dark-color), 120px 120px 0 0 rgba(0, 0, 0, 1), 300px 120px 0 0 rgba(0, 0, 0, 1), 320px 120px 0 0 rgba(0, 0, 0, 1), 80px 140px 0 0 rgba(0, 0, 0, 1), 340px 140px 0 0 rgba(0, 0, 0, 1), 80px 160px 0 0 rgba(0, 0, 0, 1), 340px 160px 0 0 rgba(0, 0, 0, 1), 80px 180px 0 0 rgba(0, 0, 0, 1), 340px 180px 0 0 rgba(0, 0, 0, 1), 60px 200px 0 0 rgba(0, 0, 0, 1), 360px 200px 0 0 rgba(0, 0, 0, 1), 60px 220px 0 0 rgba(0, 0, 0, 1), 360px 220px 0 0 rgba(0, 0, 0, 1), 80px 240px 0 0 rgba(0, 0, 0, 1), 340px 240px 0 0 rgba(0, 0, 0, 1), 80px 260px 0 0 rgba(0, 0, 0, 1), 340px 260px 0 0 rgba(0, 0, 0, 1), 80px 280px 0 0 rgba(0, 0, 0, 1), 340px 280px 0 0 rgba(0, 0, 0, 1), 100px 300px 0 0 rgba(0, 0, 0, 1), 120px 300px 0 0 rgba(0, 0, 0, 1), 300px 300px 0 0 rgba(0, 0, 0, 1), 320px 300px 0 0 rgba(0, 0, 0, 1);
    height: 20px;
    width: 20px;
    position: relative;
}

.pixelart-text {
    position: absolute;
    left: 200px;
    top: 200px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
    gap: 20px;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: var(--fourth-color);
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
