* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #d1a701;
    color: #1c1e26;
}

:root {
    --background-color: #d1a701;
    --main-text-color: #1c1e26;
    --third-color: #fdeb37; 
    --fourth-color: #bdac9c;
    --fifth-color: #9d815b;
}

h1,h2 {
    font-family: Pixelify Sans, sans-serif;
    font-weight: 10;
    text-align: center;
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 5px var(--fifth-color);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

.typewriter h1 {
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

p {
    padding: 10px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, fr);
}